.sidebar {
    width: 20rem;
    padding: .5rem 0 .5rem .5rem;
}

.sidebar nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar nav h1 {
    margin-bottom: 3rem;
    width: 100%;
    border-bottom: 1px solid #eee;
    padding-bottom: .3rem;
}

.sidebar nav h1 a {
    font-size: 1.5rem;
    

}

.sidebar nav ul{
    margin-bottom: 3rem;
}

.sidebar nav ul li{
    margin-bottom: .5rem;
    max-width: 100% !important;
}

.sidebar nav a {
    display: flex;
    align-items: center;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    padding: .5rem;
}

.sidebar nav ul a:hover,
.sidebar nav ul a:focus,
.out:hover,
.out:focus{
    background: #fff;
    color: #333;
    width: 100%;
    border-radius: 1rem 0 0 1rem;
}

.sidebar nav a > *{
    fill: #fff;
    margin-right: .5rem;
}
.sidebar nav a:hover > *,
.sidebar nav a:focus > *{
    fill: #333;
    margin-right: .5rem;
}