.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    padding-bottom: 1rem;
    box-shadow: 0 2px #eee;
    margin-bottom: 1rem;
    position: relative;
}

.btnBurger {
    width: 45px;
    height: 40px;
    background: #eee;
    border: 1px solid transparent;
    border-radius: .3rem;
    cursor: pointer;
    color: #333;
    margin-right: 1rem;
}

.btnBurger:hover {
    background: #fff;
    box-shadow: 0 0 0 3px #57e5bd, 0 0 0 3px #348F6C;
    color: #348F6C;
}

.btnBurger::before {
    content: '';
    display: inline-block;
    height: 3px;
    width: 24px;
    background: currentColor;
    box-shadow: 0 8px currentColor, 0 -8px currentColor;
    border-radius: 5rem;
}

.header input {
    width: 100%;
    padding: .6rem .5rem;
    margin-right: 1rem;
    background: #eee;
    border: 1px solid transparent;
    border-radius: .3rem;
    color: #333;
    font-size: 1rem;
}

.header input:hover,
.header input:focus {
    background: #fff;
    border-color: #348F6C;
    box-shadow: 0 0 0 3px #57e5bd;
}

.header input::placeholder {
    font-size: 1rem;
    color: #333;
}

.header img {
    width: 45px;
    height: 45px;
    border-radius: .3rem;
    cursor: pointer;
}

.header div {
    background: #fff;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
    position: absolute;
    top: 3.8rem;
    right: .5rem;
    padding: .5rem .8rem;
    border-radius: .2rem;
    z-index: 2;
}

.header div ul li {
    margin-bottom: 1rem;
}

.header div ul li a{
    color: #333;
}

.header div ul li button{
    border: none;
    cursor: pointer;
    background: #fff;
    font-size: 1rem;
}

.header div ul li span,
.header div ul li a,
.header div ul li button {
    display: flex;
    align-items: center;
}

.header div ul li span>*,
.header div ul li a>*,
.header div ul li button>* {
    fill: #348F6C;
    margin-right: .5rem;
}